PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=matchcota_db

JWT_SECRET=cambia_este_secreto_en_desarrollo
JWT_EXPIRES_IN=8h

# MongoDB es opcional en esta base. Sirve para crecer con logs/notificaciones.
MONGO_URI=
